@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.container-1 {
  display: list-item;
  padding: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
#question,
#header {
  padding: 10px;
}
