.container-1,
.container-2 {
  display: list-item;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.container-2-half {
  text-align: right;
  width: 97%;
}
.big-container-1 {
  border: 1px solid black;
}
p,
h1 {
  text-align: center;
}
h1 {
  padding: 10px;
}

em {
  text-align: right;  
}